.videos {
    a {
        color: #007bff;
    }

    .row {
        margin-top: 10px;
    }

    .mainImg {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        margin-bottom: 12px;
    }

    hr {
        margin-top: 16px;
    }
}