.navbar {
  background-color: black;
  color: white;
  .fa {
    color: #e6e6ff;
  }
  img {
    width: 100px;
  }

  ul {
    padding: 5px 0;

    a {
      color: white;
      padding-top: 0;
      padding-bottom: 0;

      &:hover {
        color: orange;
      }
    }

    li {
      padding-right: 25px;
    }

    li:not(:last-of-type) {
      border-right: 1px solid #13729A;
    }

    li:not(:first-of-type) {
      padding-left: 20px;
    }
  }

  .dropdownMenu {
    background-color: grey;

    .dropdownItem:hover {
      background-color: #555555
    }
  }
}