.card {
    width: 205px;
    background-color: #FAF0E6;
    text-align: center;

    .cardImgTop {
        width: 176px;
        margin: 5px auto 0;
        border-radius: 0;
    }
}

/*
.card


          .card-img-top


.card-body
padding: 5px
          text-align: center
          line-height: 1.2
font-size: 14px*/
