
/* make the customizations */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 9000px
);

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";

