.header {
    h3:first-of-type {
        color: #1B8BBA;
    }
}

.compArticlesVideoGirl {
    h3:first-of-type {
        color: #1B8BBA;
    }
}

.navLinkVideos {
    color: blue;
}

.videosMainImg {
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.videoGirl {
    a {
        color: #007bff;
    }

    button {
        margin-bottom: 5px;
    }

    hr {
        margin-top: 16px;
    }
}

.textAlignCenter {
    text-align: center;
}

// for reactBootstrap table
.customTablePadding > :not(caption) > * > * {
    padding: 0;
}