.header {
    h3:first-of-type {
        color: #1B8BBA;
    }
}



.compArticlesVideos {
    h3:first-of-type {
        color: #1B8BBA;
    }
}

.navLinkVideos {
    color: blue;
}

.videosMainImg {
    width: 100%;
    margin-bottom: 10px;
}